/* common styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* styling of header part */
header{
    background-color: #2D25A0;
    color: white;
    padding-bottom: 86px;
}
.navigation{
    display: flex;
    justify-content: center;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin-top: 42px;
}
nav ul{
    list-style: none;
    text-align: center;
}
nav ul li{
    display: inline;
    margin: 0px 18px;
    list-style: none;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.login p,
.live-link,
.link {
    background-color: #E02C6D;
    padding: 10px 24px;
    font-weight: 500;
}
.login p a,
.live-link a,
.link a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

/* page head section starts */
header section{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.page-head{
    width: 78%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.page-title{
    width: 80%;
}
.page-title h1{
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
}
.page-head:hover .live-link{
    transform: translate(200px, 0);
}
.live-link{
    width: 25%;
    margin-top: -40px;
    margin-bottom: 0;
    transition: transform 1s ease-in-out;
}
.theme-image {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.page-head:hover img{
    transform: skewX(-20deg) scale(1.1);
}
.theme-image img{
    width: 95%;
    transition: transform 1s ease-in;
}
/* header style ends here  */

/* main part of the page is here  */
main{
    margin-top: 70px;
    margin-bottom: 158px;
}
.player-container,
.highlights-container{
    display: flex;
    justify-content: center;
}
.players{
    width: 72%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 165px;
}
.player{
    padding: 15px;
    box-shadow:  0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player img{
    width: 100%;
}
.player h1{
    font-size: 28px;
    font-weight: 700;
}
.player p,
.txt-info p{
    color: #6C6C6C;
}

.highlights{
    width: 72%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 69px;
}
.txt-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.txt-info h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: -8px;
}
.link{
    width: 25%;
}
.youtube-vid{
    width: 110%;
    height: 400px;
}
/* main part ends here  */

/* footer starts here  */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 63px;
}
.logo{
    display: flex;
    justify-content: center;
}
.logo img{
    width: 55%;
}
.footer-nav{
    width: 100%;
    background-color: rgb(67, 1, 73);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.footer-nav a{
    color: white;
    text-decoration: none;
}
.footer-nav p{
    text-align: center;
    font-weight: 600;
    line-height: 10px;
}
.social-media{
    display: flex;
    margin-top: 20px;
}
.social-media p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: rgb(231, 230, 230);
    margin: 0px 14px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
i{
    color: #969BAB;
}
.copyright{
    font-size: 18px;
}
/* footer style ends here  */

/* responsive design starts here  */

/* for mobile devices */
@media only screen and (max-width: 620px) {
    .menu{
        display: none;
    }
    .page-head,
    .players,
    .highlights{
        grid-template-columns: 1fr;
        width: 90%;
    }
    .page-head h1{
        font-size: 36px;
        line-height: 50px;
    }
    .page-title{
        width: 100%;
    }
    .live-link,
    .link{
        width: 40%;
        margin-bottom: 50px;
        margin-top: 30px;
    }
    .page-head:hover .live-link{
        transform: translate(50px, 0px);
    }
    .page-head:hover img{
        transform: skewX(-10deg) scale(1);
    }
    header section{
        margin-bottom: -20px;
    }

    .players{
        margin-bottom: 60px;
    }

    
    .highlights h1{
        font-size: 30px;
        line-height: 40px;
    }
    .highlights p{
        margin-bottom: -10px;
    }
    .txt-info{
        margin-bottom: -20px;
    }
    .youtube-vid{
        width: 100%;
        height: 250px;
    }
}